<div>
    <h5 style="font-size:16px; font-weight:bold;">
        <span>PCH Masters</span>
        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" class="btn btn-primary float-right btn-sm jh-create-entity create-rns-pch-master" [routerLink]="['/', { outlets: { popup: ['rns-pch-master-new'] } }]">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create
            </span>
        </button>
    </h5>
    <div class="clearfix"></div>
    <div class="col-md-12">
        <jhi-alert></jhi-alert>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive" *ngIf="rnsPchMasters">
                        <table class="display table table-sm no-wrap" id="exampleFixed">
                            <thead>
                                <tr>
                                    <th><span>ID</span></th>
                                    <th><span>PCH&nbsp;Code</span></th>
                                    <th><span>PCH&nbsp;Name</span></th>
                                    <!--th><span>User Name</span></th-->
                                    <th><span>Created&nbsp;BY</span></th>
                                    <th><span>Created&nbsp;Date</span></th>
                                    <th><span>Modified&nbsp;By</span></th>
                                    <th><span>Modified&nbsp;Date</span></th>
                                    <th class="no-sort"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let rnsPchMaster of rnsPchMasters ;trackBy: trackId">
                                    <td><a [routerLink]="['../rns-pch-master', rnsPchMaster.id ]">{{rnsPchMaster.id}}</a></td>
                                    <td>{{rnsPchMaster.pchCode}}</td>
                                    <td>{{rnsPchMaster.pchName}}</td>
                                    <!--td>
                                        <span *ngFor="let user of rnsPchMaster.users; let last = last">
                                                <a class="form-control-static" [routerLink]="['../rns-relation', user?.id ]">{{user?.user?.firstName}} {{user?.user?.lastName}}</a>{{last ? '' : ', '}}
                                            </span>
                                    </td-->
                                    <td><div *ngIf="rnsPchMaster.user">{{rnsPchMaster.user?.firstName}} {{rnsPchMaster.user?.lastName}}</div></td>
                                    <td><div *ngIf="rnsPchMaster.createdDate">{{rnsPchMaster.createdDate |date:'dd-MMM-yy h:mm a'}}</div></td>
                                    <td><div *ngIf="rnsPchMaster.updatedUser">{{rnsPchMaster.updatedUser?.firstName}} {{rnsPchMaster.updatedUser?.lastName}}</div></td>
                                    <td><div *ngIf="rnsPchMaster.lastUpdatedDate">{{rnsPchMaster.lastUpdatedDate |date:'dd-MMM-yy h:mm a'}}</div></td>
                                    <td class="text-right">
                                        <div class="btn-group flex-btn-group-container">
                                            <button type="submit"
                                                    [routerLink]="['../rns-pch-master', rnsPchMaster.id ]"
                                                    class="btn btn-info btn-sm">
                                                <fa-icon [icon]="'eye'"></fa-icon>
                                                <span class="d-none d-md-inline">View</span>
                                            </button>
                                            <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit"
                                                    [routerLink]="['/', { outlets: { popup: 'rns-pch-master/'+ rnsPchMaster.id + '/edit'} }]"
                                                    replaceUrl="true"
                                                    class="btn btn-primary btn-sm">
                                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                                <span class="d-none d-md-inline">Edit</span>
                                            </button>
                                            <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit"
                                                    [routerLink]="['/', { outlets: { popup: 'rns-pch-master/'+ rnsPchMaster.id + '/delete'} }]"
                                                    replaceUrl="true"
                                                    class="btn btn-danger btn-sm">
                                                <fa-icon [icon]="'times'"></fa-icon>
                                                <span class="d-none d-md-inline">Delete</span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
