
<div *ngIf="auctionVrnt">
    <h5 style="font-size:16px; font-weight:bold;"><span>Auction Variants</span> {{auctionVrnt.id}}</h5>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <dl class="row-md jh-entity-details">
                        <dt><span>Title</span></dt>
                        <dd>
                            <span>{{auctionVrnt.title}}</span>
                        </dd>
                        <dt><span>Applicable</span></dt>
                        <dd>
                            <span>{{auctionVrnt.applicable}}</span>
                        </dd>
                        <dt><span>Text One</span></dt>
                        <dd>
                            <span>{{auctionVrnt.textOne}}</span>
                        </dd>
                        <dt><span>UOM One</span></dt>
                        <dd>
                            <span>{{auctionVrnt.uomOne}}</span>
                        </dd>
                        <dt><span>Conv Factor One</span></dt>
                        <dd>
                            <span>{{auctionVrnt.convFactOne}}</span>
                        </dd>
                        <dt><span>Qty One</span></dt>
                        <dd>
                            <span>{{auctionVrnt.qtyOne}}</span>
                        </dd>
                        <dt><span>Price One</span></dt>
                        <dd>
                            <span>{{auctionVrnt.priceOne}}</span>
                        </dd>
                        <dt><span>Amount One</span></dt>
                        <dd>
                            <span>{{auctionVrnt.amountOne}}</span>
                        </dd>
                        <dt><span>Text Two</span></dt>
                        <dd>
                            <span>{{auctionVrnt.textTwo}}</span>
                        </dd>
                        <dt><span>UOM Two</span></dt>
                        <dd>
                            <span>{{auctionVrnt.uomTwo}}</span>
                        </dd>
                        <dt><span>Conv Factor Two</span></dt>
                        <dd>
                            <span>{{auctionVrnt.convFactTwo}}</span>
                        </dd>
                        <dt><span>Qty Two</span></dt>
                        <dd>
                            <span>{{auctionVrnt.qtyTwo}}</span>
                        </dd>
                        <dt><span>Price Two</span></dt>
                        <dd>
                            <span>{{auctionVrnt.priceTwo}}</span>
                        </dd>
                        <dt><span>Amount Two</span></dt>
                        <dd>
                            <span>{{auctionVrnt.amountTwo}}</span>
                        </dd>
                        <dt><span>Text Three</span></dt>
                        <dd>
                            <span>{{auctionVrnt.textThree}}</span>
                        </dd>
                        <dt><span>UOM Three</span></dt>
                        <dd>
                            <span>{{auctionVrnt.uomThree}}</span>
                        </dd>
                        <dt><span>Conv Factor Three</span></dt>
                        <dd>
                            <span>{{auctionVrnt.convFactThree}}</span>
                        </dd>
                        <dt><span>Qty Three</span></dt>
                        <dd>
                            <span>{{auctionVrnt.qtyThree}}</span>
                        </dd>
                        <dt><span>Price Three</span></dt>
                        <dd>
                            <span>{{auctionVrnt.priceThree}}</span>
                        </dd>
                        <dt><span>Amount Three</span></dt>
                        <dd>
                            <span>{{auctionVrnt.amountThree}}</span>
                        </dd>
                        <dt><span>Text Four</span></dt>
                        <dd>
                            <span>{{auctionVrnt.textFour}}</span>
                        </dd>
                        <dt><span>UOM Four</span></dt>
                        <dd>
                            <span>{{auctionVrnt.uomFour}}</span>
                        </dd>
                        <dt><span>Conv Factor Four</span></dt>
                        <dd>
                            <span>{{auctionVrnt.convFactFour}}</span>
                        </dd>
                        <dt><span>Qty Four</span></dt>
                        <dd>
                            <span>{{auctionVrnt.qtyFour}}</span>
                        </dd>
                        <dt><span>Price Four</span></dt>
                        <dd>
                            <span>{{auctionVrnt.priceFour}}</span>
                        </dd>
                        <dt><span>Amount Four</span></dt>
                        <dd>
                            <span>{{auctionVrnt.amountFour}}</span>
                        </dd>
                        <dt><span>Text Five</span></dt>
                        <dd>
                            <span>{{auctionVrnt.textFive}}</span>
                        </dd>
                        <dt><span>UOM Five</span></dt>
                        <dd>
                            <span>{{auctionVrnt.uomFive}}</span>
                        </dd>
                        <dt><span>Conv Factor Five</span></dt>
                        <dd>
                            <span>{{auctionVrnt.convFactFive}}</span>
                        </dd>
                        <dt><span>Qty Five</span></dt>
                        <dd>
                            <span>{{auctionVrnt.qtyFive}}</span>
                        </dd>
                        <dt><span>Price Five</span></dt>
                        <dd>
                            <span>{{auctionVrnt.priceFive}}</span>
                        </dd>
                        <dt><span>Amount Five</span></dt>
                        <dd>
                            <span>{{auctionVrnt.amountFive}}</span>
                        </dd>
                        <dt><span>Text Six</span></dt>
                        <dd>
                            <span>{{auctionVrnt.textSix}}</span>
                        </dd>
                        <dt><span>UOM Six</span></dt>
                        <dd>
                            <span>{{auctionVrnt.uomSix}}</span>
                        </dd>
                        <dt><span>Conv Factor Six</span></dt>
                        <dd>
                            <span>{{auctionVrnt.convFactSix}}</span>
                        </dd>
                        <dt><span>Qty Six</span></dt>
                        <dd>
                            <span>{{auctionVrnt.qtySix}}</span>
                        </dd>
                        <dt><span>Price Six</span></dt>
                        <dd>
                            <span>{{auctionVrnt.priceSix}}</span>
                        </dd>
                        <dt><span>Amount Six</span></dt>
                        <dd>
                            <span>{{auctionVrnt.amountSix}}</span>
                        </dd>
                        <dt><span>Text Seven</span></dt>
                        <dd>
                            <span>{{auctionVrnt.textSeven}}</span>
                        </dd>
                        <dt><span>UOM Seven</span></dt>
                        <dd>
                            <span>{{auctionVrnt.uomSeven}}</span>
                        </dd>
                        <dt><span>Conv Factor Seven</span></dt>
                        <dd>
                            <span>{{auctionVrnt.convFactSeven}}</span>
                        </dd>
                        <dt><span>Qty Seven</span></dt>
                        <dd>
                            <span>{{auctionVrnt.qtySeven}}</span>
                        </dd>
                        <dt><span>Price Seven</span></dt>
                        <dd>
                            <span>{{auctionVrnt.priceSeven}}</span>
                        </dd>
                        <dt><span>Amount Seven</span></dt>
                        <dd>
                            <span>{{auctionVrnt.amountSeven}}</span>
                        </dd>
                        <dt><span>Text Eight</span></dt>
                        <dd>
                            <span>{{auctionVrnt.textEight}}</span>
                        </dd>
                        <dt><span>UOM Eight</span></dt>
                        <dd>
                            <span>{{auctionVrnt.uomEight}}</span>
                        </dd>
                        <dt><span>Conv Factor Eight</span></dt>
                        <dd>
                            <span>{{auctionVrnt.convFactEight}}</span>
                        </dd>
                        <dt><span>Qty Eight</span></dt>
                        <dd>
                            <span>{{auctionVrnt.qtyEight}}</span>
                        </dd>
                        <dt><span>Price Eight</span></dt>
                        <dd>
                            <span>{{auctionVrnt.priceEight}}</span>
                        </dd>
                        <dt><span>Amount Eight</span></dt>
                        <dd>
                            <span>{{auctionVrnt.amountEight}}</span>
                        </dd>
                        <dt><span>Text Nine</span></dt>
                        <dd>
                            <span>{{auctionVrnt.textNine}}</span>
                        </dd>
                        <dt><span>UOM Nine</span></dt>
                        <dd>
                            <span>{{auctionVrnt.uomNine}}</span>
                        </dd>
                        <dt><span>Conv Factor Nine</span></dt>
                        <dd>
                            <span>{{auctionVrnt.convFactNine}}</span>
                        </dd>
                        <dt><span>Qty Nine</span></dt>
                        <dd>
                            <span>{{auctionVrnt.qtyNine}}</span>
                        </dd>
                        <dt><span>Price Nine</span></dt>
                        <dd>
                            <span>{{auctionVrnt.priceNine}}</span>
                        </dd>
                        <dt><span>Amount Nine</span></dt>
                        <dd>
                            <span>{{auctionVrnt.amountNine}}</span>
                        </dd>
                        <dt><span>Text Ten</span></dt>
                        <dd>
                            <span>{{auctionVrnt.textTen}}</span>
                        </dd>
                        <dt><span>UOM Ten</span></dt>
                        <dd>
                            <span>{{auctionVrnt.uomTen}}</span>
                        </dd>
                        <dt><span>Conv Factor Ten</span></dt>
                        <dd>
                            <span>{{auctionVrnt.convFactTen}}</span>
                        </dd>
                        <dt><span>Qty Ten</span></dt>
                        <dd>
                            <span>{{auctionVrnt.qtyTen}}</span>
                        </dd>
                        <dt><span>Price Ten</span></dt>
                        <dd>
                            <span>{{auctionVrnt.priceTen}}</span>
                        </dd>
                        <dt><span>Amount Ten</span></dt>
                        <dd>
                            <span>{{auctionVrnt.amountTen}}</span>
                        </dd>
                        <dt><span>Variant</span></dt>
                        <dd>
                            <div *ngIf="auctionVrnt.variant">
                                <!--a [routerLink]="['/rns-quotation-variant', auctionVrnt.variant?.id]">{{auctionVrnt.variant?.title}}</a-->
                            </div>
                        </dd>
                    </dl>

                    <button type="submit"
                            (click)="previousState()"
                            class="btn btn-info btn-sm">
                        <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
                    </button>

                    <button type="button"
                            [routerLink]="['/', { outlets: { popup: 'auction-vrnt/'+ auctionVrnt.id + '/edit'} }]"
                            replaceUrl="true"
                            class="btn btn-primary btn-sm">
                        <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
