<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h5 class="modal-title" id="myRnsFileUploadLabel">File Upload</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <div align="center" class="centered" id="prepage" *ngIf="isWait">
            <img src="../../../content/images/waiting.gif"/>
        </div>
        <div class="row">
            <div class="col-md-12" style="height:300px; overflow-x: auto;">
                <div class="table-responsive">
                    <table class="table table-sm table-striped">
                        <thead>
                        <tr>
                            <th><span>ID</span></th>
                            <th><span>File Name</span></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let rnsFileUpload of rnsFileUploads;">
                            <td>{{rnsFileUpload.id}}</td>
                            <td>{{rnsFileUpload.displayName}}</td>
                            <td style="text-align: right;">
                                <div class="btn-group flex-btn-group-container">
                                    <button class="btn btn-primary btn-sm" type="button" (click)="download(rnsFileUpload)"><fa-icon [icon]="'download'"></fa-icon> Download</button>
                                    <button type="button" class="btn btn-danger btn-sm" (click)="delete(rnsFileUpload)" [disabled]="currentAccount.login !== rnsFileUpload.createdBy">
                                        <fa-icon [icon]="'times'"></fa-icon>
                                        <span class="d-none d-md-inline">Delete</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <ng-container *ngIf="rnsQuotation && !rnsQuotation.approvedFlag">
            <div class="row" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_MANAGER', 'ROLE_USER']">
                <div class="col-md-2">
                    <label class="form-control-label" for="field_attachFile">Attach File</label>
                </div>
                <div class="col-md-10">
                    <div class="input-group input-group-sm">
                        <input type="file" class="form-control form-control-sm" style="line-height: 1!important" name="attachFile" id="field_attachFile" [(ngModel)]="rnsFileUpload.fileName" (change)="selectFile($event)"/>
                        <div class="input-group-append">
                            <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary btn-sm">
                                <span class="fa fa-save"></span>&nbsp;<span> Upload</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="modal-footer">
        <div class="col-md-10">

            <ng-container *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_MANAGER', 'ROLE_USER']">
                <span class="font-italic text-danger">* Files can be removed only from the ID, from which it was uploaded.</span><br>
                <span class="font-italic text-danger">* Max size can be 2MB.</span>
            </ng-container>
        </div>
        <div class="col-md-2 text-right">
            <button class="btn btn-secondary btn-sm" data-dismiss="modal" type="button" (click)="clear()">
                <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
            </button>
        </div>
    </div>
      
</form>
