<div>
    <h5>
        <span>Email Template Bodies</span>
        <button class="btn btn-primary float-right btn-sm jh-create-entity create-email-template-body" [routerLink]="['/', { outlets: { popup: ['email-template-body-new'] } }]">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create
            </span>
        </button>
    </h5>
    <div class="clearfix"></div>
    <div class="col-md-12">
        <jhi-alert></jhi-alert>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive" *ngIf="emailTemplateBodies">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                            <th><span>ID</span></th>
                            <th><span>Template Code</span></th>
                            <th><span>Mail Body</span></th>
                            <th><span>Created By</span></th>
                            <th><span>Created Date</span></th>
                            <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let emailTemplateBody of emailTemplateBodies ;trackBy: trackId">
                                <td><a [routerLink]="['../email-template-body', emailTemplateBody.id ]">{{emailTemplateBody.id}}</a></td>
                                <td>{{emailTemplateBody.templateCode}}</td>
                                <td>{{emailTemplateBody.mailBody}}</td>
                                <td>{{emailTemplateBody.createdBy}}</td>
                                <td>{{emailTemplateBody.createdDate | date:'mediumDate'}}</td>
                                <td class="text-right">
                                    <div class="btn-group flex-btn-group-container">
                                        <button type="submit"
                                                [routerLink]="['../email-template-body', emailTemplateBody.id ]"
                                                class="btn btn-info btn-sm">
                                            <fa-icon [icon]="'eye'"></fa-icon>
                                            <span class="d-none d-md-inline">View</span>
                                        </button>
                                        <button type="submit"
                                                [routerLink]="['/', { outlets: { popup: 'email-template-body/'+ emailTemplateBody.id + '/edit'} }]"
                                                replaceUrl="true"
                                                class="btn btn-primary btn-sm">
                                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                            <span class="d-none d-md-inline">Edit</span>
                                        </button>
                                        <button type="submit"
                                                [routerLink]="['/', { outlets: { popup: 'email-template-body/'+ emailTemplateBody.id + '/delete'} }]"
                                                replaceUrl="true"
                                                class="btn btn-danger btn-sm">
                                            <fa-icon [icon]="'times'"></fa-icon>
                                            <span class="d-none d-md-inline">Delete</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
