
<div *ngIf="auctionTermsMaster">
    <h5 style="font-size:16px; font-weight:bold;"><span>Bidding Terms Master</span> {{auctionTermsMaster.id}}</h5>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <dl class="row-md jh-entity-details">
                        <!--dt><span>Category</span></dt>
                        <dd>
                            <span>{{auctionTermsMaster.rnsCatgMaster.catgCodeDesc}}</span>
                        </dd>
                        <dt><span>Quote Type</span></dt>
                        <dd>
                            <span>{{auctionTermsMaster.quoteType.typeCodeDesc}}</span>
                        </dd>
                        <dt><span>Source Team Id</span></dt>
                        <dd>
                            <span>{{auctionTermsMaster.sourceTeamId.description}}</span>
                        </dd-->
                        <dt><span>Terms Body</span></dt>
                        <dd>
                            <span>{{auctionTermsMaster.termsBody}}</span>
                        </dd>
                        <dt><span>Created By</span></dt>
                        <dd>
                            <span *ngIf="auctionTermsMaster.user">{{auctionTermsMaster.user.firstName}} {{auctionTermsMaster.user.lastName}}</span>
                        </dd>
                        <dt><span>Created Date</span></dt>
                        <dd>
                            <span>{{auctionTermsMaster.createdDate | date:'dd-MMM-yy h:mm a'}}</span>
                        </dd>
                        <dt><span>Updated By</span></dt>
                        <dd>
                            <span *ngIf="auctionTermsMaster.updatedUser">{{auctionTermsMaster.updatedUser.firstName}} {{auctionTermsMaster.updatedUser.lastName}}</span>
                        </dd>
                        <dt><span>Last Updated Date</span></dt>
                        <dd>
                            <span>{{auctionTermsMaster.lastUpdatedDate | date:'dd-MMM-yy h:mm a'}}</span>
                        </dd>
                    </dl>

                    <button type="submit"
                            (click)="previousState()"
                            class="btn btn-info btn-sm">
                        <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
                    </button>

                    <button type="button"
                            [routerLink]="['/', { outlets: { popup: 'auction-terms-master/'+ auctionTermsMaster.id + '/edit'} }]"
                            replaceUrl="true"
                            class="btn btn-primary btn-sm">
                        <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
