
<div *ngIf="rnsUpchargeDtl">
    <h5 style="font-size:16px; font-weight:bold;"><span>Upcharge Dtl</span> {{rnsUpchargeDtl.id}}</h5>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <dl class="row-md jh-entity-details">
                        <dt><span>Vendor Id</span></dt>
                        <dd>
                            <span>{{rnsUpchargeDtl.vendorId}}</span>
                        </dd>
                        <dt><span>Upcharge Id</span></dt>
                        <dd>
                            <span>{{rnsUpchargeDtl.upchargeId}}</span>
                        </dd>
                        <dt><span>Remarks</span></dt>
                        <dd>
                            <span>{{rnsUpchargeDtl.remarks}}</span>
                        </dd>
                        <dt><span>Upcharge Type</span></dt>
                        <dd>
                            <span>{{rnsUpchargeDtl.upchargeType}}</span>
                        </dd>
                        <dt><span>Rate</span></dt>
                        <dd>
                            <span>{{rnsUpchargeDtl.rate}}</span>
                        </dd>
                        <dt><span>Value</span></dt>
                        <dd>
                            <span>{{rnsUpchargeDtl.value}}</span>
                        </dd>
                        <dt><span>Created By</span></dt>
                        <dd>
                            <span>{{rnsUpchargeDtl.createdBy}}</span>
                        </dd>
                        <dt><span>Created Date</span></dt>
                        <dd>
                            <span>{{rnsUpchargeDtl.createdDate | date:'dd-MMM-yy h:mm a'}}</span>
                        </dd>
                    </dl>

                    <button type="submit"
                            (click)="previousState()"
                            class="btn btn-info btn-sm">
                        <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
                    </button>

                    <button type="button"
                            [routerLink]="['/', { outlets: { popup: 'rns-upcharge-dtl/'+ rnsUpchargeDtl.id + '/edit'} }]"
                            replaceUrl="true"
                            class="btn btn-primary btn-sm">
                        <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
