<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h5 class="modal-title" id="myAuctionPauseDetailsLabel">Create or edit a Auction Pause Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!auctionPauseDetails.id">
            <label for="id">ID</label>
            <input type="text" class="form-control form-control-sm" id="id" name="id"
                   [(ngModel)]="auctionPauseDetails.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_pauseStartDate">Pause Start Date</label>
            <div class="d-flex">
                <input id="field_pauseStartDate" type="datetime-local" class="form-control form-control-sm" name="pauseStartDate" [(ngModel)]="auctionPauseDetails.pauseStartDate"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_pauseEndDate">Pause End Date</label>
            <div class="d-flex">
                <input id="field_pauseEndDate" type="datetime-local" class="form-control form-control-sm" name="pauseEndDate" [(ngModel)]="auctionPauseDetails.pauseEndDate"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_variantId">Variant Id</label>
            <input type="number" class="form-control form-control-sm" name="variantId" id="field_variantId"
                [(ngModel)]="auctionPauseDetails.variantId" required/>
            <div [hidden]="!(editForm.controls.variantId?.dirty && editForm.controls.variantId?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.variantId?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.variantId?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_createdDate">Created Date</label>
            <div class="d-flex">
                <input id="field_createdDate" type="datetime-local" class="form-control form-control-sm" name="createdDate" [(ngModel)]="auctionPauseDetails.createdDate"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_createdBy">Created By</label>
            <input type="text" class="form-control form-control-sm" name="createdBy" id="field_createdBy"
                [(ngModel)]="auctionPauseDetails.createdBy" maxlength="50"/>
            <div [hidden]="!(editForm.controls.createdBy?.dirty && editForm.controls.createdBy?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.createdBy?.errors?.maxlength">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_updatedDate">Updated Date</label>
            <div class="d-flex">
                <input id="field_updatedDate" type="datetime-local" class="form-control form-control-sm" name="updatedDate" [(ngModel)]="auctionPauseDetails.updatedDate"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_updatedBy">Updated By</label>
            <input type="text" class="form-control form-control-sm" name="updatedBy" id="field_updatedBy"
                [(ngModel)]="auctionPauseDetails.updatedBy" maxlength="50"/>
            <div [hidden]="!(editForm.controls.updatedBy?.dirty && editForm.controls.updatedBy?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.updatedBy?.errors?.maxlength">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" (click)="clear()">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary btn-sm">
            <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
