<div>
    <h5 style="font-size:16px; font-weight:bold;">
        <span>Message Bodies</span>
        <button class="btn btn-primary float-right btn-sm jh-create-entity create-message-body"
                [routerLink]="['/', { outlets: { popup: ['message-body-new'] } }]">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span>
            Create
            </span>
        </button>
    </h5>
    <div class="clearfix"></div>
    <div class="col-md-12">
        <jhi-alert></jhi-alert>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive" *ngIf="messageBodies">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th><span>ID</span></th>
                                    <th><span>Message Id</span></th>
                                    <th><span>Message Body</span></th>
                                    <th><span>Created By</span></th>
                                    <th><span>Created Date</span></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let messageBody of messageBodies ;trackBy: trackId">
                                    <td><a [routerLink]="['../message-body', messageBody.id ]">{{messageBody.id}}</a></td>
                                    <td>{{messageBody.messageId}}</td>
                                    <td>{{messageBody.messageBody}}</td>
                                    <td>{{messageBody.createdBy}}</td>
                                    <td>{{messageBody.createdDate | date:'mediumDate'}}</td>
                                    <td class="text-right">
                                        <div class="btn-group flex-btn-group-container">
                                            <button type="submit"
                                                    [routerLink]="['../message-body', messageBody.id ]"
                                                    class="btn btn-info btn-sm">
                                                <fa-icon [icon]="'eye'"></fa-icon>
                                                <span class="d-none d-md-inline">View</span>
                                            </button>
                                            <button type="submit"
                                                    [routerLink]="['/', { outlets: { popup: 'message-body/'+ messageBody.id + '/edit'} }]"
                                                    replaceUrl="true"
                                                    class="btn btn-primary btn-sm">
                                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                                <span class="d-none d-md-inline">Edit</span>
                                            </button>
                                            <button type="submit"
                                                    [routerLink]="['/', { outlets: { popup: 'message-body/'+ messageBody.id + '/delete'} }]"
                                                    replaceUrl="true"
                                                    class="btn btn-danger btn-sm">
                                                <fa-icon [icon]="'times'"></fa-icon>
                                                <span class="d-none d-md-inline">Delete</span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
