<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h5 class="modal-title" id="myRnsRefrMasterLabel">Create or edit a Rns Refr Master</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!rnsRefrMaster.id">
            <label for="id">ID</label>
            <input type="text" class="form-control form-control-sm" id="id" name="id"
                   [(ngModel)]="rnsRefrMaster.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_subcode">Subcode</label>
            <input type="text" class="form-control form-control-sm" name="subcode" id="field_subcode"
                [(ngModel)]="rnsRefrMaster.subcode" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_subCodeDesc">Sub Code Desc</label>
            <input type="text" class="form-control form-control-sm" name="subCodeDesc" id="field_subCodeDesc"
                [(ngModel)]="rnsRefrMaster.subCodeDesc" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_status">Status</label>
            <input type="text" class="form-control form-control-sm" name="status" id="field_status"
                [(ngModel)]="rnsRefrMaster.status" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_createdBy">Created By</label>
            <input type="text" class="form-control form-control-sm" name="createdBy" id="field_createdBy"
                [(ngModel)]="rnsRefrMaster.createdBy" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_createdDate">Created Date</label>
            <div class="d-flex">
                <input id="field_createdDate" type="datetime-local" class="form-control form-control-sm" name="createdDate" [(ngModel)]="rnsRefrMaster.createdDate"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_lastModifiedBy">Last Modified By</label>
            <input type="text" class="form-control form-control-sm" name="lastModifiedBy" id="field_lastModifiedBy"
                [(ngModel)]="rnsRefrMaster.lastModifiedBy" />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_rnsRefrDetails">Refr Details</label>
            <select class="custom-select custom-select-sm form-control form-control-sm" id="field_rnsRefrDetails" name="rnsRefrDetails" [(ngModel)]="rnsRefrMaster.rnsRefrDetails" >
               <!--  <option [ngValue]="null"></option> -->
                <option [ngValue]="rnsRefrDetailsOption.id === rnsRefrMaster.rnsRefrDetails?.id ? rnsRefrMaster.rnsRefrDetails : rnsRefrDetailsOption" *ngFor="let rnsRefrDetailsOption of rnsrefrdetails; trackBy: trackRnsRefrDetailsById">{{rnsRefrDetailsOption.subCode}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" (click)="clear()">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary btn-sm">
            <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
