<section class="h-100">
    <div class="container h-100">
        <div class="row justify-content-md-center h-100">
            <div class="card-wrapper" style="width: 35%!important;">
                <div class="brand">
                    <img src="../../content/images/p3.png"
                         style="width:35%!important;margin-left: 35% !important;margin-bottom: 5px !important;margin-top: 5px !important;">
                </div>
                <div class="col-md-12" style="padding-right: 0px !important;padding-left: 0!important;">
                    <!-- <div class="alert alert-danger" *ngIf="authenticationError" style="margin-bottom: 6px !important;"> -->
                    <div class="alert alert-danger" *ngIf="authenticationError" style="margin-bottom: 6px !important;">
                        <strong>Failed to sign in!</strong> Please check your credentials and try again.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
