
<div *ngIf="rnsBuyerMaster">
    <h5 style="font-size:16px; font-weight:bold;"><span>End User Master</span> {{rnsBuyerMaster.id}}</h5>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <dl class="row-md jh-entity-details">
                        <dt><span>End User Code</span></dt>
                        <dd>
                            <span>{{rnsBuyerMaster.buyerCode}}</span>
                        </dd>
                        <dt><span>End User Name</span></dt>
                        <dd>
                            <span>{{rnsBuyerMaster.buyerName}}</span>
                        </dd>
                        <dt><span>Created By</span></dt>
                        <dd>
                            <span *ngIf="rnsBuyerMaster.user">{{rnsBuyerMaster.user?.firstName}} {{rnsBuyerMaster.user?.lastName}}</span>
                        </dd>
                        <dt><span>Created Date</span></dt>
                        <dd>
                            <span *ngIf="rnsBuyerMaster.createdDate">{{rnsBuyerMaster.createdDate |date:'dd-MMM-yy h:mm a'}}</span>
                        </dd>
                        <dt><span>Modified&nbsp;By</span></dt>
                        <dd>
                            <div *ngIf="rnsBuyerMaster.updatedUser">
                                {{rnsBuyerMaster.updatedUser?.firstName}}
                                {{rnsBuyerMaster.updatedUser?.lastName}}
                            </div>
                        </dd>
                        <dt><span>Modified&nbsp;Date</span></dt>
                        <dd>
                            <div *ngIf="rnsBuyerMaster.lastUpdatedDate">{{rnsBuyerMaster.lastUpdatedDate | date:'dd-MMM-yy h:mm a'}}
                            </div>
                        </dd>
                    </dl>

                    <button type="submit"
                            (click)="previousState()"
                            class="btn btn-info btn-sm">
                        <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
                    </button>

                    <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="button"
                            [routerLink]="['/', { outlets: { popup: 'rns-buyer-master/'+ rnsBuyerMaster.id + '/edit'} }]"
                            replaceUrl="true"
                            class="btn btn-primary btn-sm">
                        <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
