
<div *ngIf="rnsSourceTeamMaster">
    <h5 style="font-size:16px; font-weight:bold;"><span>Sourcing Team Master</span> {{rnsSourceTeamMaster.id}}</h5>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <dl class="row-md jh-entity-details">
                        <dt><span>Description</span></dt>
                        <dd>
                            <span>{{rnsSourceTeamMaster.description}}</span>
                        </dd>
                        <dt><span>Flag</span></dt>
                        <dd>
                            <span>{{rnsSourceTeamMaster.flag}}</span>
                        </dd>
                        <dt><span>Created By</span></dt>
                        <dd>
                            <span *ngIf="rnsSourceTeamMaster.user">
                                {{rnsSourceTeamMaster.user?.firstName}}
                                {{rnsSourceTeamMaster.user?.lastName}}
                            </span>
                        </dd>
                        <dt><span>Created Date</span></dt>
                        <dd>
                            <span>{{rnsSourceTeamMaster.createdDate | date:'dd-MMM-yy h:mm a'}}</span>
                        </dd>
                        <dt><span>Modified&nbsp;By</span></dt>
                        <dd>
                            <div *ngIf="rnsSourceTeamMaster.updatedUser">
                                {{rnsSourceTeamMaster.updatedUser?.firstName}}
                                {{rnsSourceTeamMaster.updatedUser?.lastName}}
                            </div>
                        </dd>
                        <dt><span>Modified&nbsp;Date</span></dt>
                        <dd>
                            <div *ngIf="rnsSourceTeamMaster.lastUpdatedDate">{{rnsSourceTeamMaster.lastUpdatedDate | date:'dd-MMM-yy h:mm a'}}
                            </div>
                        </dd>
                    </dl>

                    <button type="submit"
                            (click)="previousState()"
                            class="btn btn-info btn-sm">
                        <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
                    </button>

                    <button *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_MANAGER']" type="button"
                            [routerLink]="['/', { outlets: { popup: 'rns-source-team-master/'+ rnsSourceTeamMaster.id + '/edit'} }]"
                            replaceUrl="true"
                            class="btn btn-primary btn-sm">
                        <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
