<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h5 class="modal-title" id="myRnsArticleMasterLabel">Create or edit a  Article Master</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!rnsArticleMaster.id">
            <label for="id">ID</label>
            <input type="text" class="form-control form-control-sm" id="id" name="id"
                   [(ngModel)]="rnsArticleMaster.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_articleCode">Article Code</label>
            <input type="text" class="form-control form-control-sm" name="articleCode" maxlength="255" id="field_articleCode" [(ngModel)]="rnsArticleMaster.articleCode" required [disabled]="rnsArticleMaster.id?'true':'false'"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_articleDesc">Article Description</label>
            <input type="text" class="form-control form-control-sm" name="articleDesc" maxlength="255" id="field_articleDesc" [(ngModel)]="rnsArticleMaster.articleDesc"  required/>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_catgCode">Category Code</label>
            <select class="custom-select custom-select-sm form-control form-control-sm" id="field_catgCode" name="catgCode" [(ngModel)]="rnsArticleMaster.catgCode"  required>
                <!-- <option [ngValue]="null"></option> -->
                <option [ngValue]="rnsCatgMasterOption.id === rnsArticleMaster.catgCode?.id ? rnsArticleMaster.catgCode : rnsCatgMasterOption" *ngFor="let rnsCatgMasterOption of rnscatgmasters; trackBy: trackRnsCatgMasterById">{{rnsCatgMasterOption.catgCode}}&nbsp;&nbsp;-&nbsp;{{rnsCatgMasterOption.catgCodeDesc}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" (click)="clear()">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary btn-sm">
            <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
