<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h5 class="modal-title" id="myRnsDelPlaceMasterLabel">Create or edit a  Delivery Place Master</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!rnsDelPlaceMaster.id">
            <label for="id">ID</label>
            <input type="text" class="form-control form-control-sm" id="id" name="id"
                   [(ngModel)]="rnsDelPlaceMaster.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_code">Code</label>
            <input type="text" class="form-control form-control-sm" name="code" maxlength="255" id="field_code"
                   [(ngModel)]="rnsDelPlaceMaster.code" required [disabled]="rnsDelPlaceMaster.id?'true':'false'"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_codeDesc">Code Description</label>
            <input type="text" class="form-control form-control-sm" name="codeDesc" maxlength="255" id="field_codeDesc"
                   [(ngModel)]="rnsDelPlaceMaster.codeDesc" required/>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" (click)="clear()">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary btn-sm">
            <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
