
<div *ngIf="rnsQuotationEventDefination">
    <h5 style="font-size:16px; font-weight:bold;"><span>Quotation Event Defination</span> {{rnsQuotationEventDefination.id}}</h5>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <dl class="row-md jh-entity-details">
                        <dt><span>Technology</span></dt>
                        <dd>
                            <span>{{rnsQuotationEventDefination.technology}}</span>
                        </dd>
                        <dt><span>Defect Code</span></dt>
                        <dd>
                            <span>{{rnsQuotationEventDefination.defectCode}}</span>
                        </dd>
                        <dt><span>Text 1</span></dt>
                        <dd>
                            <span>{{rnsQuotationEventDefination.text1}}</span>
                        </dd>
                        <dt><span>Type</span></dt>
                        <dd>
                            <div *ngIf="rnsQuotationEventDefination.rnsType">
                                <a [routerLink]="['/rns-type-master', rnsQuotationEventDefination.rnsType?.id]">{{rnsQuotationEventDefination.rnsType?.id}}</a>
                            </div>
                        </dd>
                    </dl>

                    <button type="submit"
                            (click)="previousState()"
                            class="btn btn-info btn-sm">
                        <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
                    </button>

                    <button type="button"
                            [routerLink]="['/', { outlets: { popup: 'rns-quotation-event-defination/'+ rnsQuotationEventDefination.id + '/edit'} }]"
                            replaceUrl="true"
                            class="btn btn-primary btn-sm">
                        <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
